---
title: КОНТАКТЫ
---
extends layouts/_layout
block content
	//begin main
	+b.main
		//- page-info
		-pageInfo = {title: 'КОНТАКТЫ'}
		-breadcrumbsList = ['главная', 'КОНТАКТЫ']
		-activeIndex = 2
		include components/_page-info

		+b.SECTION.contacts
			+e.container.container
				+e.info
					+e.title.title-sm контактные данные
					+e.data
						+e.data-item
							+e.data-icon
								+icon('icon-tel')
							+e.A.data-link(href='tel:+78463406197') +7 (846) 340-61-97
							+e.data-descr Контактный телефон

						+e.data-item
							+e.data-icon
								+icon('icon-balloon')
							+e.P.data-link г. Самара,
							+e.P.data-link ул. Чапаевская, дом №112
							+e.data-descr Адрес

						+e.data-item
							+e.data-icon
								+icon('icon-mail')
							+e.A.data-link(href='mailto:sales@mskgr.ru') sales@mskgr.ru
							+e.data-descr E-mail

					+b.team.contacts__team
						+e.person
							+e.person-img
								+e.IMG(src='img/content/team-man.png' alt='img')
							+e.person-title Роман Казаченко
							+e.person-position Технический директор
							+e.person-contacts
								+e.A.person-email(href='#!') roman@yandex.ru
								+e.A.person-phone(href='#!') +7 (846) 340-61-91
								+e.person-social
									+e.A.person-social-link(href='#!')
										+icon('icon-fb')

						+e.person
							+e.person-img
								+e.IMG(src='img/content/team-woman.png' alt='img')
							+e.person-title Екатерина Волошанова
							+e.person-position МАРКЕТОЛОГ
							+e.person-contacts
								+e.A.person-email(href='#!') volonashova@yandex.ru
								+e.A.person-phone(href='#!') +7 (846) 340-61-91
								+e.person-social
									+e.A.person-social-link(href='#!')
										+icon('icon-fb')

						+e.person
							+e.person-img
								+e.IMG(src='img/content/team-man.png' alt='img')
							+e.person-title Иван Иванов
							+e.person-position Технический директор
							+e.person-contacts
								+e.A.person-email(href='#!') roman@yandex.ru
								+e.A.person-phone(href='#!') +7 (846) 340-61-91
								+e.person-social
									+e.A.person-social-link(href='#!')
										+icon('icon-fb')

					+e.A.info-btn.btn._white-bordered(href='#!') реквизиты компании

		//-contact-block
		-contactBlockClass = '_partners'
		-contactFormLgTitle = 'Напишите нам'

		//begin contact-block
		+b.SECTION.contact-block(class= contactBlockClass ? contactBlockClass : '')
			+e.container.container
				if contactFormLgTitle
					+b.H3.title-lg= contactFormLgTitle
				if contactFormSmTitle
					+b.H3.title-sm-white= contactFormSmTitle
				+e.FORM.form(action='#!')
					+e.form-row
						+e.form-field
							+e.INPUT.input.input._gray(type='text' placeholder='Имя*')
						+e.form-field
							+e.INPUT.input.input._gray(type='text' placeholder='Отчество*')
						+e.form-field
							+e.INPUT.input.input._gray(type='text' placeholder='Фамилия*')
					+e.form-row
						+e.form-field
							+e.INPUT.input.input._gray(type='text' placeholder='Телефон')
						+e.form-field
							+e.INPUT.input.input._gray(type='text' placeholder='E-mail')
						+e.form-field
							+e.INPUT.input.input._gray(type='text' placeholder='Название организации')
					+e.form-row
						+e.TEXTAREA.textarea.textarea._popup(placeholder='Текст вашего сообщения')

					+e.P.form-descr * Оставляя свои данные вы соглашаетесь с политикой конфедециальности
					+e.BUTTON.form-btn.btn._aqua(type='submit') оставить заявку
					+e.LABEL.form-btn.btn_file прикрепить файл
						+icon('icon-file')
						+b.INPUT(type='file' accept='')

			+b.particles#js-gray-particles
			//end contact-block

		//-contact-block
		-contactBlockClass = '_has-address'
		-contactBlockAddress = true
		include components/_contact-block