---
title: Только факты
---
extends layouts/_layout
block content
	//begin main
	+b.main
		//- page-info
		-pageInfo = {title: 'МСК ГРУПП ТОЛЬКО ФАКТЫ'}
		-breadcrumbsList = ['главная', 'О КОМПАНИИ']
		-activeIndex = 2
		include components/_page-info

		//- about-partners
		include components/_about-partners

		//- why us
		-
			var whyUs = {classMod: '_short', title: 'Коротко о нас'}
			var whyUsList = [{
			img: 1, parallaxMod: '_1', count: 10, descrFirst: ' 10 лет в отрасли ИТ', descrSecond: 'Холдинг МСК ГРУПП на рынке ИТ услуг с 2017 года'}, {
			img: 2, parallaxMod: '_2', count: 100, descrFirst: '100 специалистов', descrSecond: 'Профессионалов своего дела'}, {
			img: 4, parallaxMod: '_4', count: 150, descrFirst: '150 компаний', descrSecond: 'Работают с нами на постоянной основе'}]
		include components/_why-us

		//- team
		include components/_team

		// -awards
		include components/_awards

		// -clients
		+b.SECTION.clients
			+e.container.container
				+b.title-sm Наши клиенты
				+e.block
					-clientList = [4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6]
					for clientImg in clientList
						+e.item
							+e.A.item-link(href='#!')
								+e.IMG.item-img(src=`img/content/client-${clientImg}_gray.png` alt='img')
								+e.DIV.item-img._hidden(style=`background-image: url(img/content/client-${clientImg}.png)`)

		//-contact-block
		-contactBlockClass = '_has-form'
		-contactBlockForm = true
		-contactFormLgTitle = 'Остались вопросы?'
		include components/_contact-block
	//end main