---
title: Index Page
---
extends layouts/_layout
block content
	//- screen
	-
		var screenClass = '_home'
		var sliderList  = [{
		title: 'РЕШЕНИЯ В ОБЛАСТИ ИНФОРМАЦИОННЫХ УСЛУГ',
		descrFirst: 'МСК ГРУПП ИТ - холдинг, который объединяет опытные компании работающие в области информационных технологий.',
		descrSecond: 'МСК ГРУПП - это полный комплекс IT-решений, профессиональная команда, индивидуальный и системный подход, работа исключительно на результат',
		btn: 'СВЯЗАТЬСЯ'
		}, {
		title: 'РЕШЕНИЯ В ОБЛАСТИ ИНФОРМАЦИОННЫХ УСЛУГ',
		descrFirst: 'МСК ГРУПП ИТ - холдинг, который объединяет опытные компании работающие в области информационных технологий.',
		descrSecond: 'МСК ГРУПП - это полный комплекс IT-решений, профессиональная команда, индивидуальный и системный подход, работа исключительно на результат',
		btn: 'СВЯЗАТЬСЯ'
		}, {
		title: 'РЕШЕНИЯ В ОБЛАСТИ ИНФОРМАЦИОННЫХ УСЛУГ',
		descrFirst: 'МСК ГРУПП ИТ - холдинг, который объединяет опытные компании работающие в области информационных технологий.',
		descrSecond: 'МСК ГРУПП - это полный комплекс IT-решений, профессиональная команда, индивидуальный и системный подход, работа исключительно на результат',
		btn: 'СВЯЗАТЬСЯ'
		}];
	include components/_screen

	//begin main
	+b.DIV.main._home
		//- services
		include components/_services-block

		//-teaser
		-teaserClass = '_default'
			include components/_teaser

		//-partners
		-partners = {classMod: '_default'}
			include components/_partners

		//-partners
		-whyUs = {classMod: '_default', title: 'почему мск-групп?', btn: 'ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ'}
		-whyUsList = [{imgMod: 1, count: 10, descr: 'Более 10 лет на рынке'}, {imgMod: 2, count: 100, descr: 'Профессионалов своего дела'}, {imgMod: 3, count: 100, descr: 'Более 100 реализованных проектов'}, {imgMod: 4, count: 150, descr: 'Более 150 постоянных клиентов'}, {imgMod: 5, count: 1, countMod: '_wide', descr: 'Одна из ТОП компаний по Самарской области'}]
			include components/_why-us

		//-news
		-newsBlock = {classMod: '_default'}
			include components/_news-block

		//-subscribe
		include components/_subscribe

		//-our
		-ourClass = '_default';
		include components/_our

		//-contact-block
		-contactBlockClass = '_default';
		include components/_contact-block
	//end main
