---
title: Index Page
---
extends layouts/_layout
block content
	//- screen
	-
		var screenClass = '_home'
		var sliderList  = [{
		title: 'РЕШЕНИЯ В ОБЛАСТИ ИНФОРМАЦИОННЫХ УСЛУГ',
		descrFirst: 'МСК ГРУПП ИТ - холдинг, который объединяет опытные компании работающие в области информационных технологий.',
		descrSecond: 'МСК ГРУПП - это полный комплекс IT-решений, профессиональная команда, индивидуальный и системный подход, работа исключительно на результат',
		btn: 'СВЯЗАТЬСЯ'
		}, {
		title: 'РЕШЕНИЯ В ОБЛАСТИ ИНФОРМАЦИОННЫХ УСЛУГ',
		descrFirst: 'МСК ГРУПП ИТ - холдинг, который объединяет опытные компании работающие в области информационных технологий.',
		descrSecond: 'МСК ГРУПП - это полный комплекс IT-решений, профессиональная команда, индивидуальный и системный подход, работа исключительно на результат',
		btn: 'СВЯЗАТЬСЯ'
		}, {
		title: 'РЕШЕНИЯ В ОБЛАСТИ ИНФОРМАЦИОННЫХ УСЛУГ',
		descrFirst: 'МСК ГРУПП ИТ - холдинг, который объединяет опытные компании работающие в области информационных технологий.',
		descrSecond: 'МСК ГРУПП - это полный комплекс IT-решений, профессиональная команда, индивидуальный и системный подход, работа исключительно на результат',
		btn: 'СВЯЗАТЬСЯ'
		}];
	include components/_screen

	//begin main
	+b.MAIN
		//- services
		-var servicesClass = '_default';
			include components/_services
	//end main
