---
title: Профиль компании
---
extends layouts/_layout
block content
	//begin main
	+b.MAIN.main
		//- page-info
		-pageInfo = {title: 'ПРОФИЛЬ КОМПАНИИ'}
		-breadcrumbsList = ['главная', 'ПРОФИЛЬ КОМПАНИИ']
		-activeIndex = 2
		include components/_page-info

		//- designing
		include components/_designing

		//- work
		include components/_work

		//-contact-block
		-contactBlockClass = '_has-form'
		-contactBlockForm = true
		-contactFormTitle = 'Получите консультацию сертифицированного специалиста:'
		include components/_contact-block

		//- services
		-servicesBlockClass = '_full'
		-servicesBlockTitle = 'наши услуги:'
		include components/_services-block

		//end main