//begin footer
+b.FOOTER.footer
	+e.container.container
		+e.col
			+e.H6.title КОМПАНИЯ
			+e.UL.list
				+e.LI.list-item
					+e.A.list-link(href='#!') Только факты
				+e.LI.list-item
					+e.A.list-link(href='#!') Партнеры
				+e.LI.list-item
					+e.A.list-link(href='#!') Наши проекты

			+e.UL.list
				+e.LI.list-item
					+e.A.list-link(href='#!') Вакансии
				+e.LI.list-item
					+e.A.list-link(href='#!') Новости
				+e.LI.list-item
					+e.A.list-link(href='#!') Контакты

		+e.col
			+e.H6.title Каталог услуг
			+e.UL.list
				+e.LI.list-item
					+e.A.list-link(href='#!') Базовые ИТ-решения
				+e.LI.list-item
					+e.A.list-link(href='#!') Проектирование
				+e.LI.list-item
					+e.A.list-link(href='#!') Сложные ИТ-решения

		+e.col
			+e.H6.title ПАРТНЕРЫ
			+e.UL.list
				+e.LI.list-item
					+e.A.list-link(href='#!') GST
				+e.LI.list-item
					+e.A.list-link(href='#!') NetLine
				+e.LI.list-item
					+e.A.list-link(href='#!') Пролайн

		+e.col
			+e.H6.title Новости
			+e.UL.list
				+e.LI.list-item
					+e.A.list-link(href='#!') Подписаться
				+e.LI.list-item
					+e.A.list-link(href='#!') Архив новостей
//end footer