//begin header
+b.HEADER.header(class= headerClass)
	+e.container.container
		+e.A.logo.logo(class= headerLogoMod ? headerLogoMod : '_color' href='#!')
		+b.H1 МСК ГРУПП

		+e.block
			+b.contact-info.header__contact-info
				+e.P.link
					+icon('icon-balloon', 'contact-info__link-icon')
					+e.SPAN.link-text г. Самара, ул. Чапаевская, дом №112

				+e.A.link(href='#!')
					+icon('icon-time', 'contact-info__link-icon')
					+e.SPAN.link-text с 9:00 до 18:00

				+e.A.link(href='tel:+78463406197')
					+icon('icon-tel', 'contact-info__link-icon')
					+e.SPAN.link-text +7 (846) 340-61-97

				+e.A.link(href='mailto:sales@mskgr.ru')
					+icon('icon-mail', 'contact-info__link-icon')
					+e.SPAN.link-text sales@mskgr.ru

			+b.NAV.nav.header__nav
				+e.UL.list
					-var navList = ['о компании', 'каталог услуг', 'новости', 'полезная информация', 'партнерам', 'контакты'];
					for navLink, index in navList
						-var activeIndex= '2';
						+e.LI.list-item(class= index === activeIndex -1 ? 'is-active' : '')
							+e.A.list-link(href='#!')= navLink

			+b.action-bar.header__action-bar
				+e.A.btn(href='#!')
					+icon('icon-search', 'action-bar__btn-icon')
				+e.A.btn(href='#!')
					+icon('icon-mail', 'action-bar__btn-icon')

//end header