if aboutPartners ? aboutPartners : aboutPartners = []
if aboutPartners.title ? aboutPartners.title : aboutPartners.title = 'МСК ГРУПП ИТ холдинг который объединяет опытные компании работающие в области Информационных технологий'

-
	var defaultPartners = [{
	logo: 1,
	text: 'динамично развивающийся системный интегратор Компания занимается разработкой комплексных решений по автоматизации технологических и бизнес процессов мелких и средних предприятий а так же оказывает услуги в области розничного и корпоративного сервисного обслуживания.',
	link: 'Джи Эс Ти'
	}, {
	logo: 2,
	text: 'осуществляет работы по строительству и модернизации ИТ инфраструктуры крупных заказчиков и масштабных проектов Компания проводит комплексную автоматизацию объектов запускает и адаптирует информационные системы с дальнейшим их соппровождением.',
	link: 'НетЛАйн'
	}, {
	logo: 3,
	text: 'проектная организация которая включает в себя команду из высококвалифицированных сотрудников Главная задача компании осуществление сложных проектов с высоким уровнем качества',
	link: 'Пролайн'
	}]

if aboutPartnersList ? aboutPartnersList : aboutPartnersList = defaultPartners

//begin about-partners
+b.SECTION.about-partners(class= aboutPartners.classMod ? aboutPartners.classMod : '')
	+e.container.container
		+e.title.title-sm= aboutPartners.title
		+e.in
			mixin aboutPartnersEl(el)
				+e.row
					+e.logo
						+e.IMG(src=`img/content/partners-${el.logo}_color.png` alt='img')
					+e.P.text Компания
						= ' '
						+e.A.text-link(href='#!')= el.link
						= ' '
						= el.text
			each el in aboutPartnersList
				+aboutPartnersEl(el)
//end about-partners