if contactBlock ? contactBlock : contactBlock = []

//begin contact-block
+b.SECTION.contact-block(class= contactBlockClass ? contactBlockClass : '' style='background-image: url("../img/bg/contact-block_bg.jpg")')
	+e.container.container
		+e.A.phone.title-lg(href='tel:+78463406191') +7 (846) 340-61-91
		+e.A.email(href='mailto:sales@mskgr.ru') sales@mskgr.ru
		+e.ADDRESS.address
			+e.P 456455, Россия, Самара, ул. Чапаевская, дом 112А
			+e.P пн-пт 9:00 - 18:00
		+e.actions
			+e.A.actions-btn.btn._white(href='#!') оставить заявку
			+e.A.actions-btn.btn._white(href='#!') Обратный звонок
//end contact-block