if designing ? designing : designing = []
if designing.title ? designing.title : designing.title = 'Комлексное проектирование'
if designing.orderBtn ? designing.orderBtn : designing.orderBtn = 'Заказать консультацию'

//begin designing
+b.SECTION.designing(class= designingClass ? designingClass : '' style='background-image: url(img/bg/designing_bg.png)')

	+e.container.container
		+e.top-info
			+e.H3.title.title-md= designing.title
			+e.A.btn.btn._aqua(href='#!')= designing.orderBtn
		+e.text
			+e.P Главной особенностью промышленного предприятия является наличие принципиально различных уровней информационных систем, решающих сложные задачи разной направленности. Структура промышленного предприятия накладывает особые требования к территориальной распределённости уровней информационных систем, к надёжности и отказоустойчивости наличию цеховых промышленных сетей. Консолидация всех уровней информационных систем предприятия в единую систему значительно повышает ее прозрачность и улучшает управляемость предприятия.

			+e.block
				+e.H5.block-title Компания МСК ГРУПП предлагает комплексное проектирование и управление ИТ инфраструктурой промышленного предприятия:
				-
					var textList = [
					'аудит имеющейся инфраструктуры и информационной системы',
					'проектирование и создание комплексной ИТ - инфраструктуры',
					'формирование и обучение команды проекта', 'модернизацию и реструктуризацию существующей системы',
					'техническое обслуживание аутсорсинг инфраструктуры и информационной системы']
				+e.UL.block-list
					for text in textList
						+e.LI= text
							+icon('icon-arr_r')

			+e.P Богатый опыт в проектировании типовых и индивидуальных проектов позволяет учитывать индивидуальные особенности Заказчика, гарантирует качество, сокращает сроки внедрения, делает решение масштабируемым и экономичным. Регламентирующая и эксплуатационная доментация, разработанная согласно рекомендациям библиотеки ITIL, способствует повышению качества сервисного обслуживания сложных систем (от настольных компьютеров до прокатных станков) и позволяет управлять инцидентами, проблемами, конфигурациями, изменениями и прочими процессами ITSM.

			+e.block
				+e.H5.block-title Результаты комплесного проектирования и управления ИТ-инфраструктурой:

				-
					var textList = [
					'бъединение разрозненных уровней управления в единую информационную систему',
					'обеспечение корректного взаимодействия между различными уровнями информационной системы',
					'осуществление эффективного управления единой инфраструктурой и информационной системой']
				+e.UL.block-list
					for text in textList
						+e.LI= text
							+icon('icon-arr_r')
//end designing