if our ? our : our = []

//begin our
+b.SECTION.our(class= ourClass ? ourClass : '')
	+e.container.container
		+e.block
			+e.title.title-sm НАШИ проекты
			+e.slider._left.js-our-slider
				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-1_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-1.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-4_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-4.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-7_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-7.png)')

				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-2_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-2.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-5_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-5.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-8_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-8.png)')

				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-3_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-3.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-6_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-6.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-9_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-9.png)')

				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-2_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-2.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-5_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-5.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-8_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-8.png)')

				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-3_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-3.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-6_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-6.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-9_gray.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-9.png)')


		+e.block
			+e.title.title-sm НАШИ КЛИЕНТЫ
			+e.slider._right.js-our-slider
				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-1_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-1.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-4_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-4.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-7_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-7.png)')

				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-2_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-2.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-5_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-5.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-8_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-8.png)')

				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-3_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-3.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-6_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-6.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-9_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-9.png)')

				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-2_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-2.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-5_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-5.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-8_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-8.png)')

				+e.item
					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-3_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-3.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-6_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-6.png)')

					+e.A.item-client(href='#!')
						+e.IMG.item-img(src='img/content/client-9_aqua.png' alt='img')
						+e.DIV.item-img._hidden(style='background-image: url(img/content/client-9.png)')

		+e.BUTTON.btn.btn._white-bordered(type='button') ОЦЕНИТЕ НАШУ РАБОТУ
//end our