if partnersBlock ? partnersBlock : partnersBlock = []
if partnersBlock.title ? partnersBlock.title : partnersBlock.title = 'Партнеры'

//begin partners
+b.SECTION.partners-block(class= partnersBlock.classMod ? partnersBlock.classMod : '')
	+e.container.container
		+e.H3.title.title-md= partnersBlock.title
		+e.row
			-var partnersList = [1, 2, 3]
			for partnersImg in partnersList
				+e.item
					+e.A.item-link(href='#!')
						+e.IMG.item-img(src=`img/content/partners-${partnersImg}.png` alt='img')
						+e.DIV.item-img._color(style=`background-image: url(img/content/partners-${partnersImg}_color.png)`)
//end partners