if screen ? screen : screen = []

//begin screen
+b.SECTION.screen(class= screenClass ? screenClass : '')
	+e.slider
		mixin sliderItem(item)
			+e.slider-item
				+e.H2.slider-title= item.title
				+e.slider-text
					+e.P= item.descrFirst
					+e.P= item.descrSecond
				+e.slider-btn= item.btn
		each item in sliderList
			+sliderItem(item)
//end screen