if services ? services : services = []
-var servicesList = [{title: 'Разработка комплексных решений', img: '1'}, {title: 'Корпоративное и розничное сервисное обслуживание', img: '2'}, {title: 'Строительство и модернизация ИТ инфраструктуры', img: '3'}, {title: 'Комплексное проектирование, строительство', img: '4'}, {title: 'Осуществление научно-иследовательской работы', img: '5'}]

//begin services
+b.SECTION.services(class= servicesClass ? servicesClass : '')
	+e.container.container
		mixin servicesItem(item)
			+e.A.item(href='#!')
				+e.item-in
					+e.H6.item-title= item.title
					+e.P.item-descr Богатый опыт в проектировании типовых и индивидуальных проектов позволяет учитывать индивидуальные особенности Заказчика, гарантирует качество, сокращает сроки внедрения, делает решение масштабируемым и экономичным. Регламентирующая и эксплуатационная документация, разработанная согласно рекомендациям библиотеки ITIL, способствует повышению качества сервисного обслуживания сложных систем (от настольных компьютеров до прокатных станов) и позволяет управлять инцидентами, проблемами, конфигурациями, изменениями и прочими процессами ITSM.
				+e.item-img
					+icon(`icon-services-${item.img}`, 'services__item-icon')
		each item in servicesList
			+servicesItem(item)
//end services