if subscribe ? subscribe : subscribe = []
if subscribe.descr ? subscribe.descr : subscribe.descr = 'Получаете только самые свежие новости и выгодные коммерческие предложения из мира ИТ услуг.'
if subscribe.btn ? subscribe.btn : subscribe.btn = 'ПОДПИСАТЬСЯ'

//begin subscribe
+b.SECTION.subscribe(class= subscribe.classMod ? subscribe.classMod : '')
	+e.container.container
		+b.A.logo._shadow(href='#!')
		+e.P.descr= subscribe.descr
		+e.FORM.form(action='#!')
			+e.form-in
				+e.form-field
					+b.INPUT.input._aqua(type='text' placeholder='Ваш e-mail адрес')
				+e.BUTTON.form-btn.btn._white(type='submit')= subscribe.btn
//end subscribe