if teaser ? teaser : teaser = []

//begin teaser
+b.SECTION.teaser(class= teaserClass ? teaserClass : '')
	+e.container.container
		+e.slider.js-teaser-slider

			+e.slider-item
				+e.slider-text
					+e.H3.slider-title.title-sm-white АВТОМАТИЗАЦИЯ БИЗНЕС-ПРОЦЕССОВ
					+e.P.slider-descr Данный метод получил название автоматизация бизнес процесса. На сегодняшний день современный метод, описанный выше, позволяет значительно снизить издержки, как в технологическом, так и в финансовом плане любого рода производства. Поэтому, следует говорить про автоматизацию, как четко составленную схему, где работают организации. А так же на них изображено распледеление нагрузок на сотрудников предприятия. Для удобства, все процессы бизнеса автоматизирруются с помощью специально разработанных программ.
					+e.A.slider-btn.btn._aqua(href='#!') УСЛУГИ
				+e.slider-img
					+b.IMG.obj-fit(src='img/content/teaser-sld-1.jpg' alt='img')

			+e.slider-item
				+e.slider-text
					+e.H3.slider-title.title-sm-white АВТОМАТИЗАЦИЯ БИЗНЕС-ПРОЦЕССОВ
					+e.P.slider-descr Данный метод получил название автоматизация бизнес процесса. На сегодняшний день современный метод, описанный выше, позволяет значительно снизить издержки, как в технологическом, так и в финансовом плане любого рода производства. Поэтому, следует говорить про автоматизацию, как четко составленную схему, где работают организации. А так же на них изображено распледеление нагрузок на сотрудников предприятия. Для удобства, все процессы бизнеса автоматизирруются с помощью специально разработанных программ.
					+e.A.slider-btn.btn._aqua(href='#!') УСЛУГИ
				+e.slider-img
					+b.IMG.obj-fit(src='img/content/teaser-sld-1.jpg' alt='img')

//end teaser