if work ? work : work = []
if work.title ? work.title : work.title = 'Как мы работаем?'

-
	defaultWorkList = [{
	pic: 1,
	text: 'Консультирование по продукту или выбранной услуги. Обсуждение всех вопросов'}, {
	pic: 2,
	text: 'Подписание договора и выполнение технических работ'}, {
	pic: 3,
	text: 'Сдача проекта'}]
if workList ? workList : workList = defaultWorkList

//begin work
+b.SECTION.work(class= workClass ? workClass : '')
	+e.container.container
		+e.title.title-md= work.title
		+e.row.js-glow-parallax
			mixin workItem(item)
				+e.item
					+e.item-pic
						+e.IMG(src=`img/content/work-${item.pic}.png` alt='img')
						+e.item-glow
							+e.item-parallax(class='layer' data-depth='0.05')
						+e.item-glow
							+e.item-parallax(class='layer' data-depth='0.05')
					+e.P.item-text= item.text
			each item in workList
				+workItem(item)

	+b.particles#js-gray-particles
//end work