.about-partners
	padding: 20px 0 30px
	&__title
		text-transform: none
		text-align: center
	&__in
		margin-top: 20px
	&__row
		display: flex
		&:not(:first-child)
			margin-top: 20px
	&__logo
		flex: 1 0 200px
	&__text
		flex: 1 1 auto
		padding-left: 20px