// basic styles
body
	min-width: 320px
	+f('pn-400', 16)
	line-height: 30px
	color: $black
	//&.is-locked
	//	position: fixed
	//	top: 0
	//	left: 0
	//	right: 0
	//	height: 100%
	//	overflow: hidden

*
	-webkit-tap-highlight-color: transparent

h1, h2, h3, h4, h5, h6
	font-weight: normal

a
	color: inherit
	text-decoration: none
	&:hover, &:focus
		text-decoration: none
		
button
	background-color: transparent

h1, h2, h3, h4, h5, h6, p, a, span, div, img, mark, ul, li
	&::selection
		color: $white
		background-color: $aqua

img
	vertical-align: top
	max-width: 100%
	
::-ms-clear,
::-ms-reveal
	display: none
	width: 0
	height: 0

input:invalid
	box-shadow: none
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0

video::-webkit-media-controls-start-playback-button
	display: none !important
	
.obj-fit
	width: 100%
	height: 100%
	object-fit: cover
	font-family: 'object-fit: cover;'

.out
	overflow: hidden
	
.container
	max-width: 1140px
	margin: 0 auto
	padding: 0 15px

.btn
	display: inline-block
	padding: 11px 42px
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1)
	border-radius: 26px
	text-transform: uppercase
	+f('pn-700', 15)
	line-height: 30px
	transition: background .3s ease-in-out, color .3s ease-in-out, transform .1s ease-in-out, box-shadow .1s ease-in-out
	&_white
		background: $white
		+hover
			background: $aqua
			color: $white
	&_aqua
		background: $aqua
		color: $white
		+hover
			background: $aqua-dark
	&_white-bordered
		padding: 10px 46px
		font-size: 15px
		color: $blue-dark
		border: 2px solid #00899a
		background: $white
		box-shadow: none
		transition: background .3s ease-in-out, color .3s ease-in-out, transform .1s ease-in-out, border .3s ease-in-out
		+hover
			background: $aqua
			color: $white
			border-color: $aqua
			
.title-lg
	+f('pn-700', 45)
	line-height: 50px
	text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1)
	text-transform: uppercase
	color: $white
	
.title-sm-white
	@extend .title-lg
	font-size: 30px
	line-height: 35px
	
.title-md
	+f('pn-700', 40)
	color: $blue-dark
	line-height: 50px
	text-transform: uppercase
	
.title-sm
	@extend .title-md
	font-size: 30px
	line-height: 35px
	
.input
	width: 100%
	padding: 0 34px
	height: 53px
	line-height: 53px
	border-radius: 26px
	border: 2px solid #c9c9c9
	+f('pn-400', 15)
	color: $blue-dark
