.designing
	padding: 30px 0 35px
	background-repeat: no-repeat
	background-position: top 10px right
	&__top-info
		max-width: 400px
		margin-bottom: 50px
	&__title
		margin-bottom: 25px
	&__text
		+f('pn-300', 17)
		line-height: 32px
		color: #585858
		p
	&__block
		&-title
			margin-bottom: 15px
			+f('pn-600', 17)
		&-list
			li
				position: relative
				padding-left: 16px
				font-style: italic
				svg
					position: absolute
					left: 0
					top: 10px
					fill: #2ab1b4
					font-size: 11px