.header
	padding: 20px 0 29px
	background: $white
	&__container
		position: relative
		display: flex
		align-items: center
		z-index: 2
	&__block
		display: flex
		flex-wrap: wrap
		align-items: center
		flex: 1 1 100%
		margin-left: 35px
		padding-left: 35px
		border-left: 1px solid #e8e9ed
	&__contact-info
		flex: 1 1 100%
		padding: 10px 0
	&__nav
		display: inline-flex
		flex: 1 1 auto
		padding: 15px 0 0
	&__action-bar
		display: inline-flex
		flex: 0 0 65px
	&__logo
		margin-top: 10px
	
	h1
		position: absolute
		clip: rect(0, 0, 0, 0)
		height: 1px
		width: 1px
		margin: -1px
		+hide-text
		
	&_home
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 52px 0 10px
		background: transparent
		.contact-info__link-text,
		.nav__list-link
			color: $white
		.contact-info__link-icon
			fill: #b3fcff
		.nav__list-item.is-active
			border-bottom-color: transparentize(#85c8cf, .5)
		.action-bar__btn
			background: $white
		.action-bar__btn-icon
			fill: $blue-dark
		.header__block
			border-left-color: transparentize($white, .8)
			
/* nav
	----------------------------------- */
.nav
	&__list
		display: flex
		flex: 0 1 764px
		justify-content: space-between
		&-item
			padding-bottom: 9px
			border-bottom: 1px solid transparent
			line-height: 1
			&.is-active
				border-bottom-color: transparentize($white, .8)
		&-link
			+f('pn-600', 14)
			text-transform: uppercase
			color: $blue-dark
			
/* contact-info
	----------------------------------- */
.contact-info
	font-size: 0
	&__link
		display: inline-block
		vertical-align: top
		font-size: 0
		&:first-child
			margin-right: 10px
		&:not(:first-child)
			margin-left: 43px
		&-icon
			display: inline-block
			vertical-align: middle
			margin-right: 10px
			fill: $aqua
			font-size: 20px
			&.icon-balloon
				font-size: 21px
			&.icon-mail
				font-size: 16px
		&-text
			display: inline-block
			vertical-align: middle
			font-size: 15px
			line-height: 1
			color: $blue-dark

/* action-bar
	----------------------------------- */
.action-bar
	&__btn
		height: 30px
		width: 30px
		background: $aqua-dark
		border-radius: 50%
		text-align: center
		line-height: 32px
		transition: background .3s
		&:not(:first-child)
			margin-left: 5px
		+hover
			background: $white
		.no-touch &:hover &-icon
			fill: $aqua-dark
		&-icon
			fill: $white
			transition:  fill .3s
			&.icon-search
				font-size: 12px
			&.icon-mail
				position: relative
				font-size: 11px