.info
	padding: 70px 0 30px
	+lg
		padding: 50px 0 30px
	&__tags
		max-width: 1010px
		margin: 0 auto 50px
		+lg
			margin: 0 auto
		&-list
			display: flex
			justify-content: center
			flex-wrap: wrap
			li
				margin: 0 26px 12px
				+md
					margin: 0 15px 10px
				+sm
					margin: 0 10px 10px
				a
					+f('pn-700', 20)
					text-transform: uppercase
					color: $blue-dark
					transition: .3s
					+sm
						font-size: 16px
					+hover
						color: #2ab1b4
					.no-touch &:hover span
						color: $blue-dark
					span
						color: #2ab1b4
						transition: .3s
						
.blog
	padding: 50px 0
	font-size: 0
	+md
		padding: 50px 0 20px
	&__inner
		text-align: center
		margin: 0 -15px
		+clr
	&__item
		float: left
		position: relative
		width: 33.333333%
		padding: 0 15px 30px
		text-align: left
		+md
			width: 50%
		+sm
			width: 100%
		&-img-wrap
			height: 210px
			overflow: hidden
			border-radius: 3px 3px 0 0
			+sm
				height: auto
		&-text
			display: flex
			flex-direction: column
			padding: 16px 18px 13px
			border: 2px solid #e0e0e0
			border-top: 0
		&-title
			margin-bottom: 2px
			font-size: 18px
			line-height: 25px
		&-descr
			height: 120px
			margin-bottom: 7px
			color: #000
			opacity: .8
			+f('pn-300', 16)
			line-height: 28px
			+sm
				height: auto
		&-btn
			margin: 13px 0 0
			padding: 5px 25px
		&-row
			display: flex
			justify-content: space-between
		&-date
			font-size: 16px
			color: #2ab1b4
		&-link
			text-transform: uppercase
			+f('pn-700', 14)
			text-decoration: underline
			
	&__more-btn
		margin-top: 10px
		+md
			align-self: flex-end
			flex: 1 1 100%