/* ===================================
	 main
	 =================================== */
.main
	&_home
		margin-top: -340px
		
/* ===================================
	 logo
	 =================================== */
.logo
	display: block
	flex: 0 0 160px
	&_white
		+s('logo')
	&_shadow
		flex: 0 0 192px
		+s('logo-shadow')
	&_color
		+s('logo-color')
		
/* paritcles
	----------------------------------- */
.particles
	+coverdiv
	z-index: 1
	+nosel
	