.nav-toggle {
  display: none;
  position: absolute;
  right: 15px;
  top: 3px;
  z-index: 300;
}

.line {
  width: 48px;
  height: 4px;
  background-color: $aqua-dark;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-toggle.is-active{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.is-active .line:nth-child(2){
  width: 0;
}

.nav-toggle.is-active .line {
  background-color: #fff;
}
.nav-toggle.is-active .line:nth-child(1),
.nav-toggle.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.nav-toggle.is-active .line:nth-child(1){
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
  transform: translateY(12px);
}

.nav-toggle.is-active .line:nth-child(3){
  -webkit-transform: translateY(-12px) rotate(90deg);
  -ms-transform: translateY(-12px) rotate(90deg);
  -o-transform: translateY(-12px) rotate(90deg);
  transform: translateY(-12px) rotate(90deg);
}