/* ===================================
	 news-block
	 =================================== */
.news-block
	&__actions
		display: flex
		align-items: center
		margin-bottom: 50px
		&-btn
			margin-right: 28px
		&-link
			+f('pn-700', 15)
			line-height: 18px
			color: $blue-dark
			text-transform: uppercase
			letter-spacing: 0.05em
			border-bottom: 1px solid rgba($blue-dark, .3)
			+tr(border-color .3s)
			+hover
				border-bottom-color: transparent
	&__slider
		padding-bottom: 80px
		display: none
		&.slick-initialized
			display: block
		.slick-list
			margin: 0 -15px
		&-item
			margin: 0 15px
		.slick-dots
			display: flex
			position: absolute
			left: 50%
			bottom: 7px
			z-index: 2
			transform: translateX(-50%)
			li
				position: relative
				width: 14px
				height: 14px
				border: 3px solid transparent
				border-radius: 50%
				cursor: pointer
				transition: border-color .7s ease-in-out
				&:not(:first-child)
					margin-left: 3px
				&.slick-active
					border-color: #26b2b5
			li.slick-active button
				background: transparent
			button
				+vcenter
				+hide-text
				width: 10px
				height: 10px
				background: #e0f4f5
				border-radius: 50%
			
	&_default
		padding: 103px 0
	
/* ===================================
	 news-article
	 =================================== */
.news-article
	outline: 0
	text-align: left
	&__title
		margin-bottom: 15px
		font-size: 22px
		line-height: 25px
	&__descr
		margin: 14px 0 19px
	&__img-wrap
		overflow: hidden
		height: 210px
		border-radius: 3px
	&__actions
		display: flex
		align-items: center
		&-btn
			margin-right: 9px
			padding: 6px 25px
		&-link
			font-size: 0
			line-height: 0
			.no-touch &:hover .icon-share
				fill: $aqua-dark
			.icon-share
				fill: $blue-dark
				font-size: 20px
				transition: fill .2s ease-in-out
				
/* ===================================
	 news-page
	 =================================== */
.news
	padding: 80px 0
	&__search
		&-field
			position: relative
			max-width: 445px
		&-input
			padding: 0 60px 0 27px
		&-btn
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 60px
			font-size: 0
			border-radius: 0 26px 26px 0
			.no-touch &:hover .icon-search
				fill: $aqua-dark
			.icon-search
				margin-right: 15px
				font-size: 16px
				transition: .3s
	&__block
		margin: 17px 0 0
		text-align: center
	&__row
		margin: 0 -15px
		padding: 32px 0 40px
		border-bottom: 1px solid #eee
		+clr
		&.is-hidden
			display: none
	&__article
		float: left
		width: percentage(350 / 1140)
		margin: 0 15px
	&__more-btn
		margin: 40px 0 0