.our
	&__container
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		max-width: 1190px
	&__block
		flex: 0 1 560px
		min-width: 1px
	&__block:nth-child(2) &__title
		margin: 0 0 25px 27px
	&__block:nth-child(2) &__slider-btn_prev
		right: 220px
	&__block:nth-child(2) &__slider-btn_next
		right: 179px
	&__title
		max-width: 270px
		margin: 0 0 25px 22px
	&__slider
		display: none
		background: url("../img/bg/our-block_bg.png") no-repeat 50% 50%
		&.slick-initialized
			display: block
		.slider-btn
			top: -65px
			&_prev
				right: 206px
			&_next
				right: 165px
	&__item
		&-inner
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			height: 80px
		&-client
			position: relative
			.no-touch &:hover .our__item-img
				opacity: 0
			.no-touch &:hover .our__item-img_hidden
				opacity: 1
		&-img
			transition: opacity .3s ease-in-out
			&_hidden
				+coverdiv
				opacity: 0
				background-size: contain
				background: no-repeat 50% 50%
	&__btn
		margin: 45px auto 0
		padding: 10px 43px
	
	&_default
		padding: 93px 0 90px
		
/* ===================================
	 clients
	 =================================== */
.clients
	padding: 40px 0 45px
	&__container
		text-align: center
	&__block
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin:  30px 0 0
		background: url("../img/bg/clients_bg.png") no-repeat 50% 50%
	&__item
		display: flex
		flex-direction: column
		justify-content: center
		align-content: center
		align-items: center
		flex: 1 1 (100%/6)
		height: 80px
		&-link
			position: relative
			display: flex
			justify-content: center
			flex: 0 1 auto
			.no-touch &:hover .clients__item-img
				opacity: 0
			.no-touch &:hover .clients__item-img_hidden
				opacity: 1
		&-img
			transition: opacity .3s ease-in-out
			img
				display: block
			&_hidden
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				opacity: 0
				background-size: contain
				background: no-repeat 50% 50%