.partners
	&__container
	&__title
		text-align: center
	&__list
		display: flex
		max-width: 800px
		margin: 30px auto 0
		padding: 35px 0 35px 65px
		background: url(../img/bg/partners_bg.png) no-repeat 140% 50%
		&-item
			position: relative
			display: flex
			align-items: center
			justify-content: center
			flex: 1 1 auto
	&_default
		padding: 110px 0 88px