.partners
	&__container
	&__title
		text-align: center
	&__list
		display: flex
		max-width: 760px
		margin: 40px auto 0
		padding: 35px 0
		background: url("../img/bg/partners_bg.png") no-repeat 0 0
		&-item
			position: relative
			display: flex
			align-items: center
			justify-content: center
			flex: 1 1 auto
			img
				//filter: hue-rotate(180deg)
				//+gray
				//filter: grayscale(100%) contrast(2)
	&_default
		padding: 30px 0 40px