.projects
	padding: 80px 0 80px
	&__container
		display: flex
		align-items: flex-start
	&__nav
		flex: 0 0 256px
		border: 1px solid #eee
		&-btn
			position: relative
			padding: 24px 35px 24px 17px
			+f('pn-700', 15)
			text-transform: uppercase
			color: $blue-dark
			line-height: 20px
			cursor: pointer
			transition: background .3s
			letter-spacing: .05em
			&:not(:first-child)
				border-top: 1px solid #eee
			&-icon
				position: absolute
				top: calc(50% - 5px)
				right: 20px
				fill: #2ab1b4
				font-size: 10px
				
			&.is-active
				pointer-events: none
				background: #f2fafd
			+hover
				background: #f2fafd
				
	&__content
		flex: 1 1 825px
		margin-left: 30px
		&-item
			height: 0
			overflow: hidden
		&-inner
			display: flex
			justify-content: space-between
			&:not(:first-child)
				margin-top: 30px
		
	&__block
		flex: 1 1 auto
		border: 1px solid #eee
		background-color: #fff
		&-title
			padding: 20px 30px
			min-height: 92px
			display: flex
			align-items: center
			justify-content: center
			text-transform: uppercase
			+f('pn-700', 18)
			color: $white
			line-height: 25px
			letter-spacing: .03em
			text-align: center
			background: #2ab1b4
		&-inner
			padding: 25px 30px 5px
		&-item
			position: relative
			padding-left: 30px
			padding-bottom: 21px
			font-size: 15px
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				+s('logo-circle')
			&-title
				text-transform: uppercase
				color: $blue-dark
				+f('pn-700')
				letter-spacing: .05em
				line-height: 20px
			&-descr
				max-width: 230px
				+f('pn-300')
				line-height: 20px
				color: #7a7f85
				&_full
					max-width: none
		&_half
			flex: 0 1 398px