.screen
	position: relative
	background: $aqua
	&__container
	&__slider
		display: none
		margin-right: -15px
		&.slick-initialized
			display: block
		&-item
			position: relative
			cursor: default
		&-text
			position: absolute
			top: 0
			left: 0
			z-index: 1
			max-width: 502px
		&-title
		&-descr
			max-width: 390px
			margin: 35px 0 30px
			color: $white
			p
				+f('pn-300', 18)
				&:not(:first-child)
					margin-top: 10px
		&-btn
			display: inline-block
		&-img
			float: right
			padding-top: 53.4%
			width: percentage(792 / 1125)
			+cover
			//position: absolute
			//top: 0
			//right: 0
			//z-index: -1
			
		.slick-dots
			display: flex
			position: absolute
			left: 50%
			bottom: 50px
			z-index: 2
			transform: translateX(-50%)
			li
				position: relative
				width: 14px
				height: 14px
				border: 3px solid transparent
				border-radius: 50%
				cursor: pointer
				transition: border-color .7s ease-in-out
				&:not(:first-child)
					margin-left: 3px
				&.slick-active
					border-color: #fff
			li.slick-active button
				background: transparent
			button
				+vcenter
				+hide-text
				width: 10px
				height: 10px
				background: #b7e4e7
				border-radius: 50%
			
	&_home
		padding-top: 153px
		height: 1140px
		background-image: linear-gradient(to bottom, #008b9b 17%, #2aa5b1 40%, #5cbfc6 60%, #fff)