.screen
	position: relative
	background: $aqua
	&__container
		position: relative
		z-index: 2
	&__slider
		display: none
		margin-right: -15px
		pointer-events: all
		+sm
			margin-right: 0
			padding-bottom: 40px
		&.slick-initialized
			display: block
		&-item
			position: relative
			cursor: default
			+sm
				text-align: right
		&-text
			position: absolute
			top: 6%
			left: 0
			z-index: 1
			max-width: 550px
			pointer-events: all
			+sm
				position: static
				max-width: none
				padding: 0 5px 10px
		&-title
			+md
				font-size: 30px
				line-height: 35px
			+sm
				font-size: 25px
				line-height: 30px
		&-descr
			max-width: 390px
			margin: 22px 0 31px
			color: $white
			+md
				margin: 5px 0 10px
			+sm
				max-width: none
			p
				+f('pn-300', 18)
				line-height: 26px
				+md
					font-size: 16px
				&:not(:first-child)
					margin-top: 8px
		&-btn
			display: inline-block
		&-img
			float: right
			padding-top: 53.4%
			width: 65.1%
			+cover
			+sm
				position: relative
				display: inline-block
				float: none
				padding-top: 79%
				width: 96%
		&-parallax
			position: absolute
			img
				opacity: .7
			&_el-1
				top: 8.5%
				right: 38%
				width: percentage(126 / 1125)
				height: 22.5%
				+sm
					top: 18%
					right: 63%
					width: 15%
			&_el-2
				top: 13%
				right: 48%
				height: 47%
				width: percentage(294 / 1125)
				+sm
					width: 31.9%
					top: 19%
					right: 77%
			&_el-3
				width: percentage(322 / 1125)
				height: 61%
				top: 14.2%
				right: 0.7%
				+sm
					width: 38%
					top: 15.2%
					right: 4.7%
		.slick-dots
			display: flex
			position: absolute
			left: 50%
			bottom: 50px
			z-index: 2
			transform: translateX(-50%)
			pointer-events: all
			+sm
				bottom: 15px
			li
				position: relative
				width: 14px
				height: 14px
				border: 3px solid transparent
				border-radius: 50%
				cursor: pointer
				transition: border-color .7s ease-in-out
				&:not(:first-child)
					margin-left: 3px
				&.slick-active
					border-color: #fff
			li.slick-active button
				background: transparent
			button
				+vcenter
				+hide-text
				width: 10px
				height: 10px
				background: #b7e4e7
				border-radius: 50%
			
	&_home
		padding-top: 200px
		height: 1140px
		background-image: linear-gradient(to bottom, #008b9b 17%, #2aa5b1 40%, #5cbfc6 60%, #fff)
		+lg
			height: auto
			padding-top: 170px
			background: linear-gradient(to bottom, #008b9b, #5cbfc6)
		+sm
			padding-top: 205px