.subscribe
	padding: 48px 0 45px
	background: url("../img/bg/subscribe_bg.png") repeat-x 50% 50%/cover
	&__container
		display: flex
		align-items: center
	&__descr
		flex: 0 0 265px
		margin: 0 25px
		color: $white
		line-height: 20px
	&__form
		flex: 1 1 auto
		&-in
			display: flex
		&-field
			flex: 1 1 auto
			margin-right: 10px
		&-btn
			padding: 11px 39px