.why-us
	position: relative
	background: #f2fafd
	text-align: center
	&__container
	&__inner
		position: relative
		z-index: 2
		display: flex
		margin: 46px auto 50px
		+sm
			z-index: 0
	&__title
		display: inline-block
		position: relative
		z-index: 2
		cursor: default
	&__item
		position: relative
		flex: 1 1 20%
		&_1 &-glow:nth-child(2)
			top: 5%
			left: 25%
		&_1 &-glow:nth-child(3)
			top: 27%
			right: 42%
		&_1 &-glow:nth-child(4)
			top: 58%
			left: 25%
			
		&_2 &-glow:nth-child(2)
			top: 2%
			left: 43.5%
		&_2 &-glow:nth-child(3)
			top: 30%
			left: 55%
		&_2 &-glow:nth-child(4)
			top: 70%
			left: 36%
			
		&_3 &-glow:nth-child(2)
			top: 14%
			left: 50%
		&_3 &-glow:nth-child(3)
			top: 46%
			right: 48%
		&_3 &-glow:nth-child(4)
			top: 75%
			left: 36%
			
		&_4 &-glow:nth-child(2)
			top: 22%
			left: 32%
		&_4 &-glow:nth-child(3)
			top: 23%
			right: 35%
		&_4 &-glow:nth-child(4)
			top: 78%
			left: 36.5%
			
		&_5 &-glow:nth-child(2)
			top: 1.5%
			left: 35%
		&_5 &-glow:nth-child(3)
			top: 30%
			right: 47%
		&_5 &-glow:nth-child(4)
			top: 55%
			left: 45.5%
			
		&:nth-child(2) &-descr
			margin-top: 10px
			
		&-img
			position: relative
			display: inline-block
			width: 222px
		&-glow
			position: absolute
			z-index: 2
		&-parallax
			+s('glow')
		&-count
			position: absolute
			right: 11%
			top: 156px
			height: 53px
			padding: 0 18px
			+f('pn-900', 35)
			line-height: 57px
			letter-spacing: 0.05em
			color: $white
			border-radius: 20px
			background: transparentize(#78c698, .1)
			&_wide
				padding: 0 24px
				
		&-descr
			max-width: 198px
			margin: 18px auto 0
			font-size: 20px
			line-height: 25px
			color: $black
			+sm
				font-size: 19px
			& + &
				margin-top: 0!important
	&__btn
		position: relative
		z-index: 2
		+sm
			z-index: 0
	
	&_home
		padding: 80px 0 88px
		+sm
			padding: 50px 0
	&_home &__inner
		+lg
			flex-wrap: wrap
			justify-content: space-around
			margin: 46px auto 20px
	&_home &__item
		+lg
		flex: 0 1 250px
		margin: 0 0 30px
	&_home &__btn
		padding: 10px 16px
		font-size: 14px
	
	&_short
		padding: 80px 0 88px
	&_short &__inner
		justify-content: center
		margin: 46px -20px 0
	&_short &__item
		flex: 1 1 33.33333%
		margin: 0 20px
		&-descr
			min-width: 330px
		&-count
			right: 75px