.work
	padding: 70px 0
	position: relative
	background: #f2fafd
	&__container
		position: relative
		max-width: 1030px
		z-index: 2
		cursor: default
	&__row
		position: relative
		display: flex
		justify-content: center
		margin: 35px 0 0
		+sm
			flex-wrap: wrap
		&::after
			content: ''
			position: absolute
			top: 30%
			left: 50%
			margin-left: -252px
			z-index: 2
			opacity: .5
			+s('arrows_r')
			+md
				transform: scale3d(0.7, .7, .7) translate3d(0, 0, 0)
			+sm
				display: none
	&__title
		text-align: center
	&__item
		text-align: center
		flex: 1 1 33.33333%
		+sm
			min-width: 246px
			margin: 0 15px 25px
		
		&:nth-child(1) &-glow:nth-child(2)
			top: 34%
			left: 41%
		&:nth-child(1) &-glow:nth-child(3)
			top: 79%
			right: 51%
		&:nth-child(2) &-glow:nth-child(2)
			top: 25%
			left: 42%
		&:nth-child(2) &-glow:nth-child(3)
			top: 79%
			right: 56%
		&:nth-child(3) &-glow:nth-child(2)
			top: 25%
			left: 42%
		&:nth-child(3) &-glow:nth-child(3)
			top: 78%
			right: 48%
			
		&-pic
			position: relative
		&-text
			max-width: 250px
			margin: 7px auto 0
			font-size: 17px
			color: $blue-dark
		&-glow
			position: absolute
		&-parallax
			+s('glow')