$icons: (0:0)
$icons: map-merge($icons,('arrows_r': (X: -208px, Y:0px, W: 504px, H: 7px, TW: 712px, TH: 107px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('dev': (X: -340px, Y:-66px, W: 16px, H: 20px, TW: 712px, TH: 107px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('glow': (X: -208px, Y:-17px, W: 17px, H: 19px, TW: 712px, TH: 107px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('logo-color': (X: 0px, Y:-66px, W: 160px, H: 41px, TW: 712px, TH: 107px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('logo-shadow': (X: 0px, Y:0px, W: 198px, H: 56px, TW: 712px, TH: 107px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('logo': (X: -170px, Y:-66px, W: 160px, H: 40px, TW: 712px, TH: 107px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-arrows_r
//  width: 504px
//  height: 7px
//  background-image: url('../img/sprite.png')
//  background-position: -208px 0px
//
//.icon-dev
//  width: 16px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -340px -66px
//
//.icon-glow
//  width: 17px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -208px -17px
//
//.icon-logo-color
//  width: 160px
//  height: 41px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -66px
//
//.icon-logo-shadow
//  width: 198px
//  height: 56px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-logo
//  width: 160px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: -170px -66px
//